<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Password Reset | Crowdkast</title>
<meta charset="utf-8">
<link href="{{url_for("authentication.static",filename="css/bootstrap.min.css")}}" rel='stylesheet' type='text/css' />
<link href="{{url_for("authentication.static",filename="css/style.css")}}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

<style>
	#member{
margin: 18px 43px;
	margin-top: 0px;
  margin-bottom: 0px;	
  color: white;
}
#forgot-password{
margin: 18px 43px;
	margin-top: 25px;
  margin-bottom: 0px;	
  color: white;
}
</style>
<!--//webfonts-->
</head>
<body>
<div class="main">
	
      <h2>Password Reset</h2>
		
		   <div class="lable-2">
		   		<form class="form" action="{{url_for('authentication.AuthenticationView:forgot_password')}}" method="POST" role="form">
				{{ form.hidden_tag() }}
				{{form.email(type="text", class="text", value="email ", onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'email ';}")}} 
									<p class="help-block">{{ form.email.errors[0] }}</p>

				<div class="submit">
			  <input type="submit" value="Send me my password" >
			
		   </div>

		   <div class="row" id="member" align="center">
		Didn't receive? <a type="submit" href="{{ url_for('authentication.AuthenticationView:resend_confirmation') }}" id="join">Resend</a>
		<!-----//end-main---->
		</div>

		        </form>
		   </div>
		   
		   
		   <div class="clear"> </div>
		
		
		<br/>
		<div class="row" id="member" align="center">
		Already a Member? <a href="{{ url_for('authentication.AuthenticationView:signin') }}" id="join">Sign In</a>
		<!-----//end-main---->
		</div>
		<div class="row" id="member" align="center">
		Not a Member? <a href="{{ url_for('authentication.AuthenticationView:signup') }}" id="join" data-type="text" data-url="">Sign up</a>
		<!-----//end-main---->
		</div>
		<!-----//end-main---->
		</div>
		 <!-----start-copyright---->
   		<div class="copy-right">
			<p> &copy; 2014 Crowdkast.co. All rights reserved.</p>

		</div>
				<!-----//end-copyright---->
</body>
</html>